# IntelliJ project files 
.idea/
*.iml
*.ipr
*.iws

# eclipse project files
.settings/
.classpath
.project

# Ignore Maven files
target/
*.command
*.marker

#vscode config
.vscode


# Ignore Mainzelliste context descriptor and configuration files, as these
# contain user-defined or even confidential content.
/WebContent/META-INF/context.xml
/config/*.conf

# Ignore docker-compose.override.yml
docker-compose.override.yml
